/* code for max 1200rem */
@media (min-width:0px) and (max-width: 1200px) {
    .nav-bar ul li a {
        margin: 0rem 1rem;

    }

    .banner-img {
        width: 50%;
        justify-content: center;
        padding: 0;
    }

    .banner-area {
        justify-content: center;
    }

    .service-heading {
        margin: 5rem 1rem 6.5rem 1rem;
    }
}

/* tebelet responsive */


@media (min-width: 0px) and (max-width: 991px) {
    html {
        font-size: 59.5%;
    }

    .nav-bar ul li a i {
        display: initial;
        font-size: 2.2rem;
    }

    /* p {
        font-size: 1.4rem !important;
    }

    h2 {
        font-size: 3.4rem !important;
    } */

    /* .read-btn,
    button,
    .welcy-btn,
    .problem-btn {
        font-size: 1.6rem;
    } */

    .nav-bar ul li:nth-child(1),
    .nav-bar ul li:nth-child(2),
    .nav-bar ul li:nth-child(3),
    .nav-bar ul li:nth-child(4),
    .nav-bar ul li:nth-child(5) {
        display: none;
    }

    header {
        justify-content: space-between;
        gap: 60vw;
        padding: 1.5rem 3rem;
    }

    /* 
    header a h2 {
        font-size: 2.8rem !important;

    } */

    .nav-bar ul li a {
        border-bottom: 0.2rem solid #fff;
        margin: 0rem 1rem;
        padding: 0rem 0.5rem;

    }

    .banner-img::before {
        height: 70%;
    }

    /* .banner-txt h1 {
        font-size: 4rem;
    } */

    .banner-img {
        justify-content: center;
        padding: 0;
        width: 45%;
    }


    .banner-area {
        justify-content: center;
        padding-bottom: 5rem;
    }

    .contact-area {
        margin: 0;
    }

    .client-area .massage-box {
        width: 80%;
    }

    .newsletter {

        flex-direction: column;
    }

    .newsletter .social-img {
        margin: 0rem 0rem 3rem 0rem;
    }

    .footer-area {
        padding: 13rem 0rem 0rem 0rem;
        margin: 0;
    }

    .footer-head {

        justify-content: center;

    }

    .footer-container div {
        width: 25%;
    }

    .footer-container div h5 {

        letter-spacing: 0.03em;

    }

    .footer-container {
        align-items: flex-start;
        gap: 3rem;
        /* flex-direction: column; */
        padding: 3rem 0%;
        margin: 10rem 5%;
    }
}

/* mobile responsive and tab respionsibe query*/


@media (min-width: 0px) and (max-width: 768px) {
    html {
        font-size: 58.5%;
    }

    header {
        gap: initial;
    }

    /* header a h2 {
        font-size: 2.6rem !important;

    } */

    .banner-img::before {
        right: 0;
        width: 85%;
        height: 80%;
    }

    .banner-img {
        justify-content: center;
        width: 60%;

    }

    .banner-area {
        flex-direction: column;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-txt {
        width: initial;
        padding: 0rem 5% 3.5rem 5%;
        text-align: center;
        margin: 0rem 2% 2rem 2%;
    }

    .read-btn {
        margin: 2rem 0rem 0rem 0rem;
    }

    .service-area .items {
        flex-direction: column;
        padding-bottom: 5rem;
    }

    .service-heading h3 {
        color: #000000;
        border-bottom: 0.2rem solid #000;
    }

    .welcome-area {
        padding: 9rem 0rem 2rem 0rem;
    }

    .service-area {
        padding: 5rem 0rem;
        background-size: cover;
    }

    .service-heading {
        margin: 0;
        padding: 3rem 20% 8rem 20%;
    }

    .service-heading h2 {
        color: #000000;
        border-bottom: 0.2rem solid #000;
    }

    .items-1,
    .items-2,
    .items-3 {
        width: 70%;
    }

    .form-container .form-content .left-side {
        width: 70%;

    }

    .footer-form form {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-container div {
        width: 37%;
    }

    .footer-area {
        background-position: -5.5rem 0rem;
    }

    hr {
        margin: 0rem 10%;
    }

    .copyright {
        padding: 2rem 10% 2.5rem 10%;
    }
}

/* ========== banner before elements extra query======== */

@media (min-width: 0px) and (max-width: 575px) {
    html {
        font-size: 55.5%;
    }

    .banner-img::before {

        width: 90%;
        height: 72%;
    }

    .banner-img {
        width: 65%;

    }

}

/* +++++ mobile large media query ++++ */

@media (min-width: 0px) and (max-width: 475px) {
    html {
        font-size: 53.5%;
    }

    header {
        padding-right: 1rem;
    }

    header a h2 {
        /* font-size: 2.5rem; */
        padding: 0;
    }

    p {
        /* font-size: 1.3rem !important; */
        padding: 0rem 2% !important;
    }

    /* h1 {
        font-size: 3.5rem !important;
    } */
    /* 
    h2 {
        font-size: 3rem !important;
    } */

    .read-btn,
    button {
        padding: 1rem 3rem !important;
    }

    .banner-img::before {
        right: 0;
        width: 90%;
        height: 60%;
    }

    .banner-img {
        width: 60%;
    }

    .welcome-area,
    .problem-area {
        padding-top: 4rem;
    }

    .client-area {
        padding-bottom: 4rem;
    }

    .service-area {
        padding-top: 2rem;
    }

    .contact-area {
        padding-bottom: 0;
    }

    .br-why {
        display: initial;
    }

    .items-1,
    .items-2,
    .items-3 {
        width: 80%;
    }

    .footer-form form input {
        padding: 1rem 10%;
        /* font-size: 1.4rem !important; */
    }


    .footer-container {
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        flex-direction: column;
        padding: 3rem 0%;
        margin: 10rem 5%;
    }

    .footer-container {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer-container div h5 {
        letter-spacing: normal;

    }

    .footer-area {
        background-position: -35rem 0rem;
    }

    /* 
    .footer-area h2 {
        font-size: 2.5rem !important;
    } */
}

/* extra query */


@media (min-width: 0px) and (max-width: 700px) {
    /* .hero-area::before {
        height: 45%;
        top: 90%;
    } */
}

/* =====++++ mini mobile device media queriy====+++ */


@media (min-width: 200px) and (max-width: 375px) {
    html {
        font-size: 50.5%;
    }

    /* h1 {
        font-size: 3rem !important;
    } */
    /* 
    header a h2 {
        font-size: 1.8rem !important;
    } */

    .nav-bar ul li a {
        margin: 0.3rem;
    }

    /* .nav-bar a img {
        width: 2rem;
    } */

    /*     
    .nav-bar ul li a i {
        font-size: 1.8rem;
    } */

    .banner-img::before {

        width: 98%;
        height: 50%;
    }

    .banner-img {
        margin: 1rem 0rem;
        width: 75%;

    }

    /* .form-content .left-side .details i {
        font-size: 2.2rem;

    } */

    .social-img a img {
        width: 95%;
    }

    .social-img a {
        width: 3.7rem;
        height: 3.7rem;
    }
}

@media (min-width: 200px) and (max-width: 300px) {
    html {
        font-size: 47.5%;
    }
}

/* ======= contact us form media queries======= */


@media (max-width: 820px) {
    .form-container {
        margin: 4rem 0;
        height: 100%;
    }

    .form-container .form-content {
        flex-direction: column-reverse;
    }

    .form-container .form-container .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 4rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-container .form-content .left-side::before {
        display: none;
    }

    .form-container .form-content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 950px) {
    .form-container {
        width: 90%;
        padding: 3rem 4rem 4rem 3.5rem;
    }

    .form-container .form-content .right-side {
        width: 85%;
        /* margin-left: 5.5rem; */
    }
}

/* contact us form media queries finish here */