@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lato&family=Montserrat&family=Open+Sans&family=Playfair+Display&family=Poppins&family=Raleway&family=Roboto&family=Roboto+Slab&family=Ubuntu&display=swap');
/* font-family: 'Amaranth', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #fff;
}

.hero-area {
    background: linear-gradient(to right, #9859fc, #203376);
    background-position: center;
    background-size: cover;
    height: 94vh;

}

header {
    padding: 20px 0px;
    margin: 0px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 250px;
}

header h2 {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li {
    list-style-type: none;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    margin: 0px 15px;
    padding: 0px 10px;

}

.nav-bar ul li {
    transition: 0.3s;
}

/* all btn's hover section here */
.nav-bar ul li:hover,
.read-btn:hover,
.welc-btn:hover,
.problem-btn:hover {
    transform: translateY(-5px);

}

.nav-bar a img {
    width: 22px;
    cursor: pointer;
}

.nav-bar ul li:nth-child(6) a {
    border: none;

}

.nav-bar ul li:nth-child(6):hover {
    transform: translateY(0);
}

.hero-area::before {
    content: '';
    background-image: url('../images/hero-bg.png');
    position: absolute;
    top: 30px;
    right: 0;
    width: 58%;
    height: 86%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 2;
    padding: 50px 10% 50px 5%;
    height: auto;

}

.banner-txt {
    width: 42%;
    padding: 0px 0px 40px 0px;
    margin: 0px 0px 0px 15px;
    height: auto;
}

.banner-img {
    max-width: 48%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 90px 30px 0px 0px;
}

.banner-txt h1 {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.2em;
    margin: 0px 0px 25px 0px;
}

.banner-txt p {
    margin: 0px;
    color: #fff;
    font-size: 16px;
}

.banner-img img {
    width: 70%;
    height: 100%;
    /* vertical-align: middle; */
}

.read-btn {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding: 10px 40px;
    margin: 30px 0px 0px 0px;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
}


/* finish banner area */

/* welcome section here */
/* welcome area section and problem area section are same */
/* welcome and problem area classes are adjusted here */

.welcome-area,
.problem-area {
    padding: 90px 0px;
}

.welcome-area .heading-div,
.problem-area .problem-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}

.welcome-area .heading-div h2,
.problem-area .problem-heading h2 {
    font-size: 40px;
    font-weight: 900;
}

.border-head {
    border-bottom: 1px solid #feb543;
}

.welcome-img,
.problem-img {
    padding: 40px 25%;
}

.welcome-img img,
.problem-img img {
    width: 100%;
}

.welcome-txt,
.problem-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10%;
    text-align: center;
}

.welcome-txt p,
.problem-txt p {
    font-size: 16px;
    padding: 20px 0px;
    margin: 5px 0px 20px 0px;
}

.welc-btn,
.problem-btn {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding: 10px 40px;
    margin: 5px 0px 5px 0px;
    background-color: #feb543;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    display: block;
}

/* finish problem area  */
/* finish welcome area here */

/* service area here */
.service-area {
    background-image: url('../images/service-bg.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200vh;
    padding: 275px 0px 125px 0px;
}

.service-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 10px 90px 10px;
}

.service-heading h3 {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.service-area .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px 5%;

}

.items-1 img,
.items-2 img,
.items-3 img {
    border-radius: 15px;
    width: 100%;
}

.items-1,
.items-2,
.items-3 {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    color: #fff;
}

.service-title {
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    margin: 10px 0px;
}

.items-1 p,
.items-2 p,
.items-3 p {
    margin: 15px 20px;
}

/* service area finish */
/* after service area the problem area is adjusted with welcome area  */
/* why section here */
.why {
    background: linear-gradient(to right, #1b3374, #8f4fe8);
    color: #fff;
}

.why .container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 10% 20px 10%;
    text-align: center;
}

.why .container h2 {
    font-size: 40px;
    font-weight: 900;
    border-bottom: 1px solid #fff;
}

.why .container p {
    padding: 50px 0px 0px 0px;
    font-size: 16px;
}

.content-container {
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-container .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contents .detail-box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.content-container .detail-box h3 {
    font-size: 28px;
    margin: 0px 0px 5px 0px;
}

.content-container .detail-box h6 {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    font-weight: 500;
}

/* why section finish */
/* client section strat here */
.client-section {}

.client-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 10%;
}

.client-area h2 {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.client-area .massage-box {
    width: 40%;
    border: 1px solid #4b4747;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 60px 10px 10px 10px;
}

.client-area .detail-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
}

.img-box {
    border: 10px solid #8f4fe8;
    border-radius: 100%;
    width: 80px;
    margin: 0px 20px 0px 0px;
}

.img-box img {
    width: 100%;
}

.detail-box .name-client {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.name-client h5 {
    font-size: 20px;
}

.name-client p {
    font-size: 16px;
}

/* client section finish here */
/* contact section start here */
.contact-area {
    padding: 50px 0px;
}

.contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.contact-heading h2 {
    font-size: 40px;
    padding: 20px 0px;

}

.contact-heading p {
    font-size: 16px;
    padding: 10px 0px;
}