@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lato&family=Montserrat&family=Open+Sans&family=Playfair+Display&family=Poppins&family=Raleway&family=Roboto&family=Roboto+Slab&family=Ubuntu&display=swap');

/* font-family: 'Amaranth', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p,
li {
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    text-shadow: 0.1rem 0.2rem 0.3rem #000;
}

body {
    background: #fff;
}

section {
    display: block;
}

a {
    display: inline-block !important;
    position: relative !important;
    transition: 0.2s !important;
    text-decoration: none;
}

.hero-area {
    background: linear-gradient(to right, #9859fc, #203376);
    background-position: center;
    background-size: cover;
    height: auto;

}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(1, 4, 49, 0.9);
    padding: 2rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20vw;
}

header a h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0rem 2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

li {
    list-style-type: none;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 0.2rem solid #fff;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    display: inline;

}

/* all btn's hover section here */
.nav-bar ul li a:hover,
.read-btn:hover,
.welc-btn:hover,
.problem-btn:hover {
    transform: translateY(-3rem);
}

.nav-bar a img {
    width: 2.2rem;
    cursor: pointer;
}

.nav-bar ul li:nth-child(6) a,
.nav-bar ul li:nth-child(7) a {
    border: none;
}

.nav-bar ul li a i {
    display: none;
}

.nav-bar ul li:nth-child(6) a:hover,
.nav-bar ul li:nth-child(7) a:hover {
    transform: translateY(0rem);
}


.banner-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10rem 3% 10rem 5%;
    height: auto;
    gap: 3rem;
}

.banner-txt {
    width: 42%;
    padding: 0rem 0rem 4rem 0rem;
    height: auto;
}

.banner-img::before {
    content: '';
    background-image: url('../images/hero-bg.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    width: 49%;
    height: 83%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 0;
}


.banner-img {
    width: 49%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem 0rem 0rem 0rem;


}

.banner-img img {
    width: 72%;
    height: auto;
    z-index: 1;
    padding: 5rem 0rem 0rem 0rem;
    position: relative;

    /* vertical-align: middle; */
}


.banner-txt h1 {
    color: #fff;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1.2em;
    margin: 0rem 0rem 2.5rem 0rem;
}

.banner-txt p {
    margin: 0rem;
    color: #fff;
    font-size: 1.6rem;
}


.read-btn {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding: 1rem 4rem;
    margin: 3rem 0rem 0rem 0rem;
    background-color: #fff;
    color: #000;
    border-radius: 2.5rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
}


/* finish banner area */

/* welcome section here */
/* welcome area section and problem area section are same */
/* welcome and problem area classes are adjusted here */

.welcome-area,
.problem-area {
    padding: 9rem 0rem;
}

.welcome-area .heading-div,
.problem-area .problem-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.welcome-area .heading-div h2,
.problem-area .problem-heading h2 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    width: 60%;
}

.border-head {
    border-bottom: 0.1rem solid #4d3fa6;
}

.welcome-img,
.problem-img {
    padding: 4rem 20%;
}

.welcome-img img,
.problem-img img {
    width: 100%;
}

.welcome-txt,
.problem-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0rem 10%;
    text-align: center;
}

.welcome-txt p,
.problem-txt p {
    font-size: 1.6rem;
    padding: 2rem 0rem;
    margin: 0.5rem 0rem 2rem 0rem;
}

.welc-btn,
.problem-btn {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.09em;
    padding: 1rem 4rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    background-color: #4d3fa6;
    color: #fff;
    border-radius: 2.5rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    display: block;
}

/* finish problem area  */
/* finish welcome area here */

/* service area here */
.service-area {
    background-image: url('../images/service-bg.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 22rem 0rem 20rem 0rem;
}

.service-heading {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin: 5rem 1rem 9rem 1rem;
    padding: 2rem 20%;

}

.service-heading h2 {
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    border-bottom: 0.2rem solid #fff;
}

.service-area .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 1rem 2%;

}

.items-1 img,
.items-2 img,
.items-3 img {
    border-radius: 1.5rem;
    width: 100%;
}

.items-1,
.items-2,
.items-3 {
    width: 30%;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.5rem 1.5rem;
    text-align: center;
    color: #fff;
}

.service-title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 800;
    margin: 1rem 0rem;
}

.items-1 p,
.items-2 p,
.items-3 p {
    margin: 1.5rem 2rem;
}

/* service area finish */
/* after service area the problem area is adjusted with welcome area  */
/* why section here */
.why {
    background: linear-gradient(to right, #1b3374, #8f4fe8);
    color: #fff;
}

#br-why {
    display: none;
}

.why .container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem 10% 2rem 10%;
    text-align: center;
}

.why .container h2 {
    font-size: 4rem;
    font-weight: 900;
    border-bottom: 0.1rem solid #fff;
    text-align: center;
    width: 60%;
}

.why .container p {
    padding: 5rem 0rem 0rem 0rem;
    font-size: 1.6rem;
}

.content-container {
    padding: 2rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-container .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contents .detail-box {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.content-container .detail-box h3 {
    font-size: 2.8rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.content-container .detail-box h6 {
    font-size: 1.6rem;
    margin: 0rem 0rem 0.5rem 0rem;
    font-weight: 500;
}

/* why section finish */
/* client section strat here */
.client-section {
    background: #fff;
}

.client-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem 10%;
}

.client-area h2 {
    text-align: center;
    color: #000;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.client-area .massage-box {
    width: 60%;
    border: 0.1rem solid #4b4747;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 6rem 1rem 1rem 1rem;
}

.client-area .detail-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem;
}

.img-box {
    border: 1rem solid #8f4fe8;
    border-radius: 100%;
    width: 8rem;
    margin: 0rem 2rem 0rem 0rem;
}

.img-box img {
    width: 100%;
}

.detail-box .name-client {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.name-client h5 {
    font-size: 2rem;
}

.name-client p {
    font-size: 1.6rem;
}

/* client section finish here */
/* contact section start here */
.contact-area {
    padding: 5rem 0rem;
    background: linear-gradient(to right, #9859fc, #203376);
    margin: 0rem 0rem 5rem 0rem;
}

.contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.contact-heading h2 {
    font-size: 4rem;
    padding: 2rem 0rem;
    text-align: center;
    width: 80%;
}

.contact-heading p {
    font-size: 1.6rem;
    padding: 1rem 0rem;
}

.contact-form {
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 85%;
    background: #fff;
    border-radius: 0.6rem;
    margin: 3.5rem 0rem 0rem 0rem;
    padding: 2rem 6rem 3rem 4rem;
    /* box-shadow: 0 10rem 10rem rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 1rem 2rem;
}

.form-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container .form-content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    position: relative;
    text-align: center;
}

.form-content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 0.2rem;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: #5029bc;
    text-align: center;
}

.form-content .left-side .details {
    margin: 1.4rem;
    text-align: center;
}

.form-content .left-side .details i {
    font-size: 3rem;
    color: #203376;
    margin-bottom: 1rem;
}

.form-content .left-side .details .topic {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.form-content .left-side .details .text-one,
.form-content .left-side .details .text-two {
    font-size: 1.4rem;
    color: #7a7a80;
}

.form-container .form-content .right-side {
    width: 75%;
    margin-left: 7.5rem;
}

.form-content .right-side .topic-text {
    font-size: 2.3rem;
    font-weight: 600;
    color: #3e2093;
    margin: 2rem 0rem;
}

.right-side .input-box {
    height: 5rem;
    width: 100%;
    margin: 1.2rem 0;
}

.right-side .input-box input,
.right-side .input-box textarea,
select {
    height: 100%;
    width: 100%;
    border: 0.5rem solid #c5c4c4;
    outline: none;
    font-size: 1.6rem;
    background: #192a64;
    border-radius: 0.6rem;
    padding: 0 1.5rem;
    resize: none;
    color: #fff;
}

.right-side .message-box {
    min-height: 11rem;
}

.right-side .input-box textarea {
    padding-top: 0.6rem;
}

.right-side .button {
    display: inline-block;
    margin-top: 1.2rem;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 1.8rem;
    outline: none;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    background: #203376;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5029bc;
}

label h4 {
    font-size: 2rem;
    font-weight: 700;
}

form input[type=text]:hover,
form input[type=tel]:hover {
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}

form input[type=text]:focus,
form input[type=tel]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0rem;
}

/* contact us section finish here */
.footer-area {
    background-image: url('../images/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24rem 0rem 0rem 0rem;
    margin: 10rem 0rem 0rem 0rem;
    color: #fff;
}

.footer-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 4rem;
    font-size: 2rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 3rem 4%;
    border-radius: 1rem;
    margin: 8rem 3%;
    box-shadow: rgb(0 0 0 / 35%) 0rem 0.5rem 1.5rem;

}

.footer-container div {

    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-container div h5 {
    font-size: 2.2rem;
    letter-spacing: 0.09em;
    margin: 0rem 0rem 2rem 0rem;
    text-align: center;
}

.footer-container div a,
.footer-container div p {
    color: #d8d1d1;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    margin: 0.5rem;
}

.footer-container div a img {
    width: 13rem;
}

.footer-container div:nth-child(5) a i {
    background-color: transparent;
    font-size: 4rem;
    margin: 0.8rem 0rem;

}

.newsletter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 10% 6rem 10%;

}

.newsletter .social-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-img a {
    margin: 0rem 1rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 100%;
    background: transparent;

}

.social-img a:nth-child(1):hover {
    background: #1771E6;
}

.social-img a:nth-child(2):hover {
    background: #C7389D;
}

.social-img a:nth-child(3):hover {
    background: #0961B8;
}

.social-img a:nth-child(4):hover {
    background: #00A2E0;
}

.social-img a img {
    width: 100%;
}

.footer-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.footer-form form label {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0rem 1rem;
}

.footer-form form input {
    padding: 1rem 4rem;
    border-radius: 0.6rem;
    resize: none;
    color: #203376;
    font-size: 1.6rem;
    border: none;
}

.footer-form form input:focus {
    outline: none;

}

.footer-form form button {
    background: #fff;
    padding: 1.2rem 3rem;
    font-size: 1.7rem;
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    transition: 0.3s;
    display: block;
    margin: 1rem;

}

.footer-form form button:hover {
    background: transparent;
    color: #fff;
    transform: translateY(-0.2rem);
    box-shadow: rgb(0 0 0 / 35%) 0rem 0.5rem 1.5rem;
}

hr {
    margin: 0rem 20%;
    color: #c5c4c4;
}

.copyright {
    text-align: center;
    padding: 2rem 20% 2.5rem 20%;

}

.copyright p {
    color: #c5c4c4;
    font-size: 1.6rem;

}